/* global settings===================== */
*{
    font-size: 15px;
}
html,body{
    margin:0;
    padding: 0;

}

/* root color for most texts and other color needed */
:root{
    --title-color: hsl(234, 12%, 34%);
    --text-color: hsl(229, 6%, 66%);
    --background-color: hsl(0, 0%, 98%);
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);

}
body{
    background-color: var(--background-color);
    
}
.main{
            display:flex;
            height: 100vh;
            width: 100vw;
            justify-content: center;
            /* align-content: center; */
            align-items: center;
            border: solid 4px green;
            
}
.conteiner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr  ;
    grid-template-areas:  "red  read"
                                    "cyan blue"
                                    " orange oran ";
    grid-template-rows: 28vh  28vh 28vh ;
    grid-template-columns: 28vw 28vw 28vw;
    border: 1px solid red;
    grid-gap:10px;
    height: 82vh;
    width: 100vh;
    justify-content: center;
    align-content: center;
    
    


}
article{
    border-radius: 0.5rem;
}
.karma{
 border-top: 3px solid var(--Orange);
 background-color: var(--background-color);
 grid-area: orange;
 box-shadow: 0 5px 10px 0 rgba(59, 141, 218, 0.19),
 0 20px 20px 0 rgba(59, 141, 218, 0.19);
}
.supervisor{
    border-top: 3px solid var(--Cyan);
    grid-area: cyan;
    box-shadow: 0 5px 10px 0 rgba(59, 141, 218, 0.19),
    0 20px 20px 0 rgba(59, 141, 218, 0.19);
}
.team{
    border-top: 3px solid var(--Red);
    grid-area: red;
    box-shadow: 0 5px 10px 0 rgba(59, 141, 218, 0.19),
    0 20px 20px 0 rgba(59, 141, 218, 0.19);
}
.calculator{
    border-top: 3px solid var(--Blue);
    grid-area: blue;
    box-shadow: 0 5px 10px 0 rgba(59, 141, 218, 0.19),
    0 20px 20px 0 rgba(59, 141, 218, 0.19);
}






/* Footer formatation=================== */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}